.deal
  =link_to deal.title, deal_path(deal.id), :class => :title
  %p= truncate(strip_tags(deal.description), :length => 250, :separator => ' ')
  .category= Category.find(deal.classify).name rescue "N/A"
  %ul.categories
    -@categories.each do |category|
      %li=link_to category.name, train_deal_path(deal.id, :category_id => category.id)