@import "partials/base";
@import "partials/header";

body
{
  font-family: "Lucida Grande", Arial, sans-serif;
  background: $color-background;
}

#container
{
  @include container;
  @include blueprint-grid;
  //@include grid-background;
}

#content
{
    padding: 1em;
    background: $color-content-background;
}

h1
{
  font-size: 1.5em;
}

// MOVE THIS:
.deal
{
  padding: 1em 0;

  a.title
  {
    font-weight: bold;
    font-size: 1.2em;
    display: block;
  }

  p
  {
    margin: .5em 0;
  }

  .category
  {
    color: red;
    font-weight: bold;
    font-size: 1.1em;
  }

  ul.categories
  {
    overflow: auto;
    font-size: .8em;

    li
    {
      float: left;
      margin: 0 1em 0 0;
    }
  }
}