.deal
  =link_to deal.title, deal_path(deal.id), :class => :title
  %p= truncate(strip_tags(deal.description), :length => 250, :separator => ' ')
  %span.muted= "Added #{time_ago_in_words deal.published_at } ago"
  %ul.nav.nav-pills
    -@categories.each do |category|
      %li
        =semantic_form_for DealTraining.new(:deal => deal), :url => train_deal_admin_deals_path, :remote => true do |f|
          =f.input :deal_id, :as => :hidden, :value => deal.id

          =f.input :category_id, :as => :hidden, :value => category.id

          =f.action :submit, :label => category.name.singularize, :button_html => { :class => ["btn", category.id == deal.classify ? "btn-success" : ""] }
