=content_for :head do
  =stylesheet_link_tag "admin/deals"

%ul.categories
  -@categories.each do |category|
    %li
      =semantic_form_for @deal_training, :url => train_deal_admin_deals_path do |f|
        =f.input :deal_id, :as => :hidden, :value => @deal_training.deal.id

        =f.input :category_id, :as => :hidden, :value => category.id

        =f.action :submit, :label => category.name.singularize, :button_html => { :class => category.id == @suggested_category_id ? "suggested" : "" }

.deal
  %h3.title= @deal_training.deal.title
  %p.description= strip_tags @deal_training.deal.description